#updatePartPanel(hidden).panel
	h1 Enter Part Details to Update
	hr

	#innerWrap
		
		form(action="/updatePart" method="POST")#updatePartform
			legend 
				input(type="text" name="PartId" placeholder="Part Id")
			legend 
				input(type="text" name="DateOfDelivery" placeholder="Date Of Delivery" )#de
			legend 
				input(type="text" name="VehicleId" placeholder="Vehicle Id" )#cs
			legend 
				input(type="text" name="DateOfInstallation" placeholder="Date Of Installation" )#cs
			legend
				button(type="button" style="margin:10px 10px 5px 10px" )#update
					span.fa.fa-plus &nbsp;&nbsp;
					span UPDATE
				