#newPartPanel(hidden).panel
	h1 Enter Part Details
	hr

	#innerWrap
		
		form(action="/newPart" method="POST")#newPartform
			legend 
				h5 Part Id:
				input(type="text" name="PartId" placeholder="Part Id")
			legend 
				h5 Product Code:
				input(type="text" name="ProductCode" placeholder="Product Code")
			legend 
				h5 Date Of Manufacture:
				input(type="date" name="DateOfManufacture" placeholder="Date of Manufacture")
			legend
				button(type="button" style="margin:10px 10px 5px 10px" )#submit
					span.fa.fa-plus &nbsp;&nbsp;
					span SUBMIT
				