#updatePartPanel(hidden).panel
	h1 Enter Part Details to Update
	hr

	#innerWrap
		
		form(action="/updatePart" method="POST")#updatePartform
			legend 
				PartId To Update: input(type="text" name="PartIdToUpdate" placeholder="Part Id")
			legend 
				Date Of Delivery: input(type="date" name="DateOfDelivery" placeholder="Date Of Delivery" )#deliveryDt
			legend 
				Vehicle Id: input(type="text" name="VehicleId" placeholder="Vehicle Id" )#vehicleId
			legend 
				Date Of Installation: input(type="date" name="DateOfInstallation" placeholder="Date Of Installation" )#installationDt
			legend
				button(type="button" style="margin:10px 10px 5px 10px" )#update
					span.fa.fa-plus &nbsp;&nbsp;
					span UPDATE
				