#vehicleDashboardPanel(hidden).panel
	h2(style="font-weight:bold;") Vehicle Tracker
	hr

	#dashboardModal.modalDialog(style="margin-top: 200px")
			div
				.modal-header
					h5 Filter Vehicle
					hr
				.modal-content
					form#dashboardFilter
						input#dashboard_Vin.dashboard-filter(type="text" name="Vin" placeholder="Vin")
						br
						br
						a.filter-button(href="#close" title="Close" ) Close
						
	div#contentTable					
		div(style="text-align:center")
			span#spinner2.fa.fa-circle-o-notch.fa-spin(style="font-size: 80px;color:#5596E6")					
		#openTrades			
			table#dashboardTablevehicles.tablesorter(style="width:20%;float:left")
				thead
					tr 
						th(style="font-size: 15px;text-align: left;font-weight: bold;") Chassis Number &nbsp;&nbsp;
							a.filter-button(href="#dashboardModal") Filter 
				tbody#vehicledashboardBody
				tr
					td

			table#batchDetailsTable.tablesorter(style="width:64%;float:right")
				thead
					tr 
						th(colspan="2" style="font-size: 12px;text-align: left;padding-left: 74px;")
							div#bDetHeader(style="float:left;")
							button(type="button" style="margin-left:20px;margin-top: -12px;" id="editVehicleDetails") Edit
				tbody#vehiclesbatchDetailsBody
			table#vehicleDetailsTable.tablesorter(style="width:64%;float:right;display:none;")
				thead
					tr 
						th#vehicleDetHeader(colspan="2" style="font-size: 15px;text-align: left;font-weight: bold;") Vehicle Details
				tbody#vehicleDetailsBody
					// -------------- Dashboard View
					include ./panel_updateVehicle.jade
		
